li {
  font-weight: bold;
  list-style: none;
  border-radius: 6px;
  background-color: pink;
  margin: 32px auto 0 auto;
  padding: 16px;
  padding-left: 0;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3);
}
ol {
  list-style: none;
  width: 500px;
  margin: 36px auto 0 auto;
  padding: 0;
}

h2 {
  color: rgb(100, 20, 178);
  font-family: "Source Code Pro", serif;
}

main p {
  color: grey;
  margin: 12px;
}
/*class make . di awal*/

#contohaja {
  padding: 30px;
  width: 250px;
  height: 250px;
  border: 30px solid red;
  margin: 20px;
  background: white;
}

#todays-challenge {
  color: rgb(100, 20, 178);
  font-weight: bold;
  font-size: 52px;
  background-color: violet;
  border-radius: 8px;
  margin: 32px auto 0 auto;
  padding: 16px;
  padding-left: 0;
  width: 500px;
  display: inline-block;
}
#link-sekolah {
  font-weight: bold;
}
#yayaokok {
  font-weight: bold;
}
#lanjutannya {
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}
